:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root,body,html{
  margin: 0;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.form-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: white;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: border-color 0.25s;
}
.form-btn:hover {
  border-color: #8f7f06;
}
.form-btn:focus,
.form-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.item-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#213547;
  gap: 20px ;
}
nav{
  background: #F3F4F6;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}
.panel.closed{
  background: rgba( 243, 244, 246, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
}
.pageCont{
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}
.rootCont.open{
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  transition: all 0.5s ease;
}
.rootCont.closed{
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 9fr;
  transition: all 0.5s ease;
}
.rootCont>div{
  display: flex;
  flex-direction: column;
}
.rootCont>nav>div:first-child>div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #213547;
  padding: 20px;
}
.rootCont>nav>div:first-child>div:first-child>div{
  font-size: 2rem;
  font-weight: bold;
}
.rootCont>nav>div:first-child>div:nth-child(2){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #213547;
  padding: 20px;
}
.rootCont>nav>div:first-child>div:nth-child(2)>div{
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.rootCont>nav>div:first-child>div:nth-child(2)>div,
.rootCont>nav>div:nth-child(3)>div:nth-child(2)>div {
  font-size: 1.2rem;
  
}
.rootCont>nav>div:nth-child(3)>form,
.rootCont>nav>div:nth-child(3)>div:nth-child(2),
.rootCont>nav>div:nth-child(3)>div:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  gap: 5px;
  align-items: center;
}
.rootCont>nav>div:nth-child(3)>div:nth-child(2) {
  border-bottom: 1px solid #213547;
  display: flex;
  flex-direction: column;
}
.rootCont>nav>div:nth-child(3)>div:nth-child(2)>div:first-child{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.rootCont>nav>div:nth-child(3)>div:nth-child(3)>div {
  font-size: 1.5rem;
  font-weight: bold;
}
#index-input{
  padding: 1rem;
  font-size: medium;
  background: #E5E7EB;
  width: 100%;
  color: #213547;
  border: none;
}
.outlet{
  height: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.outlet>form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.outlet>form>input{
  width: 100%;
}
.pageCont>div:first-child{
  background: #E5E7EB;
  color: #213547;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px;
}
.pageCont>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.pageCont>div:nth-child(2)>div:not(.title-card) {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: -1;
}
.yellow{
  background: #FEF08A;
}
.grey{
  background:#9ca3af
}
.one{
  height:7rem;
  transform: translateX(60%);
  animation: 4s infinite alternate slide-left;
}
.two {
  height: 9rem;
  transform: translateX(-75%);
  animation: 3s infinite alternate slide-right1;
}
.three {
  height: 6rem;
  transform: translateX(55%);
  animation: 5s infinite alternate slide-left;
}
.four{
  height: 5rem;
  transform: translateX(-50%);
  animation: 4s infinite alternate slide-right2;
}
form:not(.idx-form){
  display: flex;
  flex-direction: column;
  gap: 25px;
}
input:not(#index-input):not(#msg-input){
  border: 2px solid transparent;
  outline-offset: 2px;
  font-size: 1.5rem;
  line-height: 2rem;
  background: transparent;
  border-bottom: 1px solid rgb(156 163 175);
}
#msg-input{
  background: #E5E7EB;
  padding: 12px;
  border-radius: 5px;
  border: none;
}
.highlighted {
  border-radius: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.75rem;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #FEF08A;
}
.account-accordion{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #E5E7EB;
  padding: 20px;
  font-weight: bold;
  gap: 15px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.account-accordion.open{
  height: 100%;
  opacity: 1;

}
.account-accordion.closed{
  opacity: 0; 
  height: 0;
}
.account-accordion>div{
  cursor: pointer;
  padding: 10px;
  color: red;
}
.account-accordion>div:hover,
.account-accordion>a:hover{
  background: #FEF08A;
}
#content {
  height: inherit;
  font-size: larger;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
}
.chat-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #213547;
}

@keyframes slide-left {
  from{
    transform: translateX(60%)
  }
  to{
    transform: translateX(70%);
  }
}

@keyframes slide-right1 {
  from{
    transform: translateX(-75%)
  }
  to{
    transform: translateX(-80%);
  }
}

@keyframes slide-right2 {
  from{
    transform: translateX(-50%)
  }
  to{
    transform: translateX(-65%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .form-btn {
    background-color: #FEF08A;
  }
}

/*make responsive on multiple screen sizes*/
